.img {
  max-width: 100%;
  height: auto;
}

.movie-contenedor {
  margin: 1rem auto;
  padding: 1rem;
  width: 280px;
  background-color: #eceff1;
}

.movie-logo {
  display: flex;
  align-items: center;
  border: thin solid #52658735;
  height: 200px;
}

.movie-contenedor h5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-actions {
  display: flex;
  justify-content: space-around;
}

.movie-buttons {
  width: 80%;
  padding: 10px;
  display: flex;
  gap: 5px;
}

.movie-seen {
  width: 20%;
  padding: 10px;
}
